* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.heading {
    position: relative;
    padding: 10px 30px;
    margin: 10px 10px;
    width: 55%;
}

.heading p {
    border: 3px solid black;
    padding: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial', sans-serif';
    border-radius: 20px;
    background-color: beige;
    
    
}

.welcome {
    position: absolute;
    padding: 10px 30px;
    top: 10%;
   
}

.green-image img {
    position: absolute;
    width: 700px;
    height: 300px;
    border-radius: 30px;
    left: 550px;
   
 }
 .contact  {
    position:absolute;
    padding: 10px 30px;
    top: 60%;
    right: 10%; 
    border: 5px solid black;
    border-radius: 5px; 
    width: 400px;
    height: 100px;
    background-color: beige;
 }
