@import url();
body{
    margin: 0px;
    background-image: url(../../images/LogIn-Image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;

}


.title{
    text-align:center;
    color:#fff;
    align-items: center;
}
.wrapper{
    padding-bottom: 45%;
    position: relative;
    text-align: center;
    width: 100%;
    background: #416C3A;
    color: #fff

}

.wrapper h2{
    font-size: 36px;
    text-align: center;
}
